@import "tailwindcss";
@import 'material-icons/iconfont/material-icons.css';

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.my-bg-orange {
  @apply bg-[#FF5730];
}
.my-border-orange {
  @apply border-[#FF5730];
}
.center {
  @apply mx-auto max-w-[700px];
}
body {
  background-color: #cebea4;
}
